@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model IEnumerable<ISupportWeb.Models.BLL.navigationBLL>

@foreach (var item in Model)
{
    <div class="col-lg-2 col-md-2 my-2 text-center">
        <div class="product-image pop-img">
            @if (item.Image == "" || item.Image == null)
            {
                <img class="service-image" src="~/Content/assets/images/NA.png" alt="@item.Name">
            }
            else
            {
                <img class="service-image" src="@Configuration["ImageBaseUrl"].ToString()@item.Image" alt="@item.Name" />
            }

        </div>
        <div class="" style="">
            <div class="mt-0 product-content container-clamp" style="text-align:center">
                <a href="@Url.Action("shop", "ShopService", new { Category = "", ServiceCategoryIDs = item.ServiceCategoryID, SubCategoryIDs = "",ColorIDs = "",MinPrice = "BHD0",MaxPrice = "BHD50000",Searchtext = "",SortID=0})">@item.Name</a>
            </div>
        </div>
    </div>
}
