@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<style>
    .product-image > a img {
        height: 100%;
        object-fit: fill;
    }


    .imgcon .cart {
        position: absolute;
        top: 65%;
        right: 0;
        z-index: 2; /* add this to make icon stack over image */
        margin-right: 8px;
        margin-top: 8px;
        border: 1px solid #DEDEDE;
        justify-content: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding-top: 1%;
        background: #fff
    }
    @@media (min-width: 375px) {
        .mobview {
            padding-top: 12px;
            text-align: right;
            font-size: 16px !important;
            margin-left: -8px;
        }
    }

    @@media (min-width: 375px) {
        .mob {
            padding-bottom: 0em;
            margin-bottom: 0rem;
            font-size: 15px !important;
        }
    }

    @@media only screen and (min-width: 320px) and (max-width: 480px) {
        .product-content {
            padding-top: 5px;
            padding-left: 7px;
        }


        .mSlider {
            padding-top: 9px !important;
            margin-left: -5px !important;
        }
    }

    @@media only screen and (min-width: 481px ) and (max-width: 767px) {
        .product-content {
            padding-top: 0px !important;
            padding-left: 32px !important;
        }

        .mobview {
            padding-top: 21px !important;
            /*margin-left: 143px !important;*/
        }
    }

    @@media only screen and (min-width: 768px ) and (max-width: 1024px) {
        .product-content {
            padding-top: 0px !important;
            padding-left: 5px !important;
        }


        .mSlider {
            padding-top: 21px;
            margin-left: 115px;
        }
    }

    @@media only screen and (min-width: 1025px ) {
        .product-content {
            padding-top: 0px !important;
            padding-left: 5px !important;
        }

        .mSlider {
            padding-top: 21px;
            margin-left: 150px;
        }
    }

    @@media (min-width: 768px) {

        .product-content {
            padding-top: 0px !important;
            padding-left: 32px !important;
        }

        .mobview {
            padding-top: 21px !important;
            /*margin-left: 143px !important;*/
        }
    }

    @@media (min-width: 1024px) {

        .product-content {
            padding-top: 0px !important;
            padding-left: 32px !important;
        }

        .mobview {
            padding-top: 21px !important;
            /*margin-left: 90px !important;*/
        }
    }

    @@media (max-width: 1440px) {

        .product-content {
            padding-top: 0px !important;
            padding-left: 5px !important;
        }
    }

    @@media (min-width: 1024px) {

        .product-content {
            padding-top: 0px !important;
            padding-left: 8px !important;
            
        }

        @@media (min-width: 768px) {
            .col-md-3 {
                -ms-flex: 0 0 25%;
                -webkit-box-flex: 0;
                flex: 0 0 25%;
                max-width: 100%;
            }
        }

        @@media (min-width: 768px) {
            .mobileSlide {
                display: block !important;
            }

            .pt-40 {
                padding-top: 15px;
            }

            .mob {
                padding-bottom: 0em;
                margin-bottom: 0.2rem;
            }

            .mobview {
                padding-top: 0px;
            }

            .mobCatImg {
                -ms-flex: 0 0 50%;
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        @@media (min-width: 425px) {
            .mobileSlide {
                display: block !important;
            }

            .pt-40 {
                padding-top: 15px;
            }

            .mob {
                padding-bottom: 0em;
                margin-bottom: 0.2rem;
            }

            .mobview {
                padding-top: 0px;
            }

            .mobCat {
                height: 135px !important;
            }

            .mobCatImg {
                -ms-flex: 0 0 50%;
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        @@media (min-width: 375px) {
            .mobileSlide {
                display: block !important;
            }

            .pt-40 {
                padding-top: 15px;
            }

            .mob {
                padding-bottom: 0em;
                margin-bottom: 0.2rem;
            }

            .mobview {
                padding-top: 15px;
            }

            .mobCat {
                height: 135px !important;
            }

            .mobCatImg {
                -webkit-box-flex: 0;
                flex: 0 0 25%;
                max-width: 25%;
            }

            .product-content {
                padding-top: 10px;
                padding-left: 16px;
            }
        }

        .categorybox img {
            border-radius: 20px;
            height: 220px;
            width: 220px;
            margin: auto;
        }

        .zoom {
            transition: transform .5s;
            margin: 0 auto;
        }

            .zoom:hover {
                -ms-transform: scale(3.5); /* IE 9 */
                -webkit-transform: scale(3.5); /* Safari 3-8 */
                transform: scale(1.1);
            }

        .all-product-image {
            padding-left: 0rem !important;
            padding-right: 0rem !important;
        }

        .product-image > a img {
            /*height: auto;*/
            height: 275px;
            object-fit: fill;
        }

        .product-content p {
            margin: 0
        }

        .add-button {
            margin-top: 5% !important;
            background-color: #006793;
            border: none;
            border-radius: 50%;
            color: white;
            font-weight: 500;
            cursor: pointer;
            padding: 7px 15px;
            transition: background-color 0.3s ease-in-out;
        }

            .add-button:hover {
                background-color: yellow;
            }

                .add-button:hover .add-icon {
                    color: blue;
                }

        .imgcon {
            position: relative;
            display: inline-block; /*add this to make container wrap around image*/
        }

            .imgcon img {
                position: relative;
                display: block;
                max-width: 100%; /* make sure image does not overflow container */
                max-height: 100%;
                object-fit: fill;
            }

            .imgcon .wl {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                margin-right: 8px;
                margin-top: 8px;
                border: 1px solid #DEDEDE;
                justify-content: center;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                padding-top: 1%;
                background: #fff;
            }
            @@media (min-width: 1024px){
            .imgcon {
            position: relative;
            display: block !important;
            }
        }

        .fill-product {
            font-size: 15px;
            margin: 2%;
            height: 15px;
            width: 15px;
            color: #5C5A59;
            font-weight: bolder;
            padding-left: 5px;
        }
        .fill {
            margin: 2%;
            height: 15px;
            width: 15px;
            color: #006793;
            font-weight: 900;
        }

            

        .fill-product:hover {
            color: red;
        }
        .im:hover {
            color: white !important;
        }}

    .product-image > a img {
        height: 100%;
        object-fit: fill;
    }

    .imgcon .cart {
        position: absolute;
        top: 65%;
        right: 0;
        z-index: 2; /* add this to make icon stack over image */
        margin-right: 8px;
        margin-top: 8px;
        border: 1px solid #DEDEDE;
        justify-content: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding-top: 1%;
        background: #fff
    }
</style>

<div class="tab-content">
    <div class="tab-pane active" id="grid">
        <div class="shop-product-wrap">
            @ViewBag.Message
            <div class="row all-items">
                @foreach (var item in ViewBag.shopList)
                {
                    <div class="col-lg-3 col-md-3" style="padding-bottom:12px;">
                        <div class="single-product-wrap" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; background: #ffffff;">
                            <div class="product-image card imgcon">
                                @if (item.Image == "" || item.Image == null)
                                {
                                    <a class="img-a" href="@Url.Action("ServiceDetails", "Product", new { ServiceID = item.ServiceID })">
                                        <img src="~/Content/assets/images/NA.png" alt="@item.Name">
                                    </a>
                                    <a class="wl" onclick="addtoWishlist(@item.ItemID,@item.ServiceID, '@item.Name', '@item.Image', @item.Price,@item.DiscountedPrice, 'Service', 1); toast('Service Added to wishlist', 1); return false;"><i class="ion-android-favorite-outline fill-product"></i></a>
                                    
                                    <a class="cart" onclick="addtocart(@item.ItemID,@item.ServiceID,'@item.Name','@item.Image',@item.Price,@item.DiscountedPrice,'Service',1);toast('Service Added to Cart', 1); return false;">
                                        <img src="../assets/carbon_shopping-cart-plus.png" style="height: 20px!important; width: 20px; margin-left: 10px; margin-top: 10px; " />
                                    </a>
                                }
                                else
                                {
                                    <a class="img-a" href="@Url.Action("ServiceDetails", "Product", new { ServiceID = item.ServiceID })">
                                        <img src="@Configuration["ImageBaseUrl"].ToString()@item.Image" alt="@item.Name">
                                    </a>
                                    <a class="wl" onclick="addtoWishlist(@item.ItemID,@item.ServiceID, '@item.Name', '@item.Image', @item.Price,@item.DiscountedPrice, 'Service', 1); toast('Service Added to wishlist', 1); return false;"><i class="ion-android-favorite-outline fill-product"></i></a>
                                    <a class="cart" onclick="addtocart(@item.ItemID,@item.ServiceID,'@item.Name','@item.Image',@item.Price,@item.DiscountedPrice,'Service',1);toast('Service Added to Cart', 1); return false;">
                                        <img src="../assets/carbon_shopping-cart-plus.png" style="height: 20px!important; width: 20px; margin-left: 10px; margin-top: 10px; " />
                                    </a>
                                }
                            </div>
                            <div class="row pl-3 pr-2">
                                <div class="mt-0 product-content" style="text-align:left">
                                    <p class="container-clamp"> <a class="card-text" href="@Url.Action("ServiceDetails", "Product", new { ServiceID = item.ServiceID })"> @item.Name </a></p>
                                    <div class="price-box">
                                        <span class="new-price mx-0">@item.Price</span>
                                        <span class="old-price mx-0" style="font-size: 8px; font-weight: 900; color: #5C5A59">@item.DiscountedPrice</span>
                                        <span class="mx-0" style="color: #019405; font-size: 8px; font-weight: 700; margin-left: 2px !important; background: #EAFFEA; border-radius:4px; padding: 2px;"> @(item.Price * item.DiscountedPrice / 100) %</span>
                                        <div style="margin-bottom: 8px; ">
                                            <span class="mx-0" style="font-size: 8px; font-weight: 900; color: #7C7C7C; font-size: 8px; font-weight: 700; display: flex;"><img src="~/assets/fa-solid_cart-plus.svg" /> &nbsp; 160+ Sold out</span>
                                            <span class="mx-0" style=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                }

            </div>
        </div>
    </div>
    <div class="tab-pane" id="list">
        <div class="shop-product-list-wrap all-list-items">
            @ViewBag.Message
            @foreach (var item in ViewBag.shopList)
            {
                <div class="row product-layout-list">
                    <div class="col-lg-6">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image ">
                                @if (item.Image == "" || item.Image == null)
                                {
                                    <a href="@Url.Action("ServiceDetails", "Product", new { ServiceID = item.ServiceID })"><img src="~/Content/assets/images/NA.png" alt="@item.Name"></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("ServiceDetails", "Product", new { ServiceID = item.ServiceID })"><img src="@Configuration["ImageBaseUrl"].ToString()@item.Image" alt="@item.Name"></a>
                                }


                                @if (item.DiscountedPrice == null || item.DiscountedPrice == 0)
                                {
                                    <div class="product-action">
                                        <a class="add-to-cart addItemLS btnalert" onclick="addtocart(@item.ItemID,@item.ServiceID,'@item.Name','@item.Image',@item.Price,,@item.DiscountedPrice,'Service',1);toast('Service Added to Cart', 1); return false;"><i class="ion-bag"></i></a>
                                        <a class="wishlist" onclick="addtoWishlist(@item.ItemID,@item.ServiceID, '@item.Name', '@item.Image', @item.Price,@item.DiscountedPrice, 'Service', 1);toast('Service Added to wishlist', 1); return false; "><i class="ion-android-favorite-outline"></i></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="product-action">
                                        <a class="add-to-cart addItemLS btnalert" onclick="addtocart(@item.ItemID,@item.ServiceID,'@item.Name','@item.Image',@item.Price,,@item.DiscountedPrice,'Service',1);toast('Service Added to Cart', 1); return false;"><i class="ion-bag"></i></a>
                                        <a class="wishlist" onclick="addtoWishlist(@item.ItemID,@item.ServiceID, '@item.Name', '@item.Image', @item.Price,@item.DiscountedPrice, 'Service', 1);toast('Service Added to wishlist', 1); return false; "><i class="ion-android-favorite-outline"></i></a>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>
                    <div class="col-lg-8 align-self-center">
                        <div class="product-content text-left">

                            <h4><a href="@Url.Action("ServiceDetails", "Product", new { ServiceID = item.ServiceID })">@item.Name</a></h4>
                           
                            @if (item.DiscountedPrice == null || item.DiscountedPrice == 0)
                            {
                                <div class="price-box">
                                    <span class="new-price ">BHD @item.Price</span>
                                </div>
                            }
                            else
                            {
                                <div class="price-box">
                                    <span class="old-price ">BHD @item.Price</span>
                                    <span class="new-price ">BHD @item.DiscountedPrice</span>
                                </div>
                            }
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('.all-items').paginathing({
            perPage: 40,
            containerClass: 'panel-footer'
        })
        $('.all-list-items').paginathing({
            perPage: 20,
            containerClass: 'panel-footer'
        })
    });
</script>